:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185,92%,41%);
  --secondaryColor: rgb(150,162,188);
  --paragraphColor: rgb(127,127,175);
  --BgColor: #031a30;
  --formColor: rgb(2,15,29);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight:3rem;
}

.home .homeContainer {
  padding: 4rem 1.5rem;
}
.home .homeContainer .introText {
  font-size: 1.3rem;
  color: var(--primaryColor);
  font-weight: 600;
  letter-spacing: 1px;
}
.home .homeContainer .title {
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--textColor);
  padding: 0.7rem 0;
}
.home .homeContainer .subTitle {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--secondaryColor);
  line-height: 2rem;
  padding: 0.5rem 0;
}
.home .homeContainer .homeParagraph {
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
  color: var(--paragraphColor);
  padding: 1rem 0;
  max-width: 600px;
}
.home .homeContainer .lowerHomeSection .contactBtn {
  padding: 0.6rem 1rem;
  background: var(--primaryColor);
  color: var(--BgColor);
  border: none;
  outline: none;
}
.home .homeContainer .lowerHomeSection .contactBtn:hover {
  background: var(--primaryHover);
}
.home .homeContainer .lowerHomeSection .contactBtn a {
  font-size: 18px;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
  color: var(--BgColor);
}
.home .homeContainer .lowerHomeSection .scrollDiv {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.home .homeContainer .lowerHomeSection .scrollDiv .scroll {
  font-size: 1rem;
  color: var(--primaryColor);
}
.home .homeContainer .lowerHomeSection .scrollDiv .icon {
  font-size: 1.3rem;
  margin-left: 0.6rem;
  color: var(--primaryColor);
  -webkit-animation: move 0.5s infinite;
          animation: move 0.5s infinite;
}
@-webkit-keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
.home .leftIcons, .home .rightEmail {
  display: none;
}

@media screen and (min-width: 480px) {
  .home .homeContainer {
    padding: 5rem 1.5rem;
  }
  .home .homeContainer .introText {
    font-size: 1.5rem;
  }
  .home .homeContainer .title {
    font-size: 3.5rem;
  }
  .home .homeContainer .subTitle {
    font-size: 2.1rem;
  }
  .home .homeContainer .homeParagraph {
    font-size: 1.5rem;
  }
  .home .homeContainer .lowerHomeSection .contactBtn {
    padding: 0.8rem 1.5rem;
  }
  .home .homeContainer .lowerHomeSection .contactBtn a {
    font-size: 22px;
  }
  .home .homeContainer .scrollDiv {
    padding-top: 1.5rem;
  }
  .home .homeContainer .scrollDiv .icon {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 770px) {
  .home .homeContainer {
    padding: 5rem 1.5rem;
    width: 70%;
    margin: auto;
  }
  .home .leftIcons, .home .rightEmail {
    display: block;
    position: fixed;
  }
  .home .leftIcons .icon, .home .rightEmail .icon {
    color: var(--secondaryColor);
  }
  .home .leftIcons a, .home .rightEmail a {
    font-weight: 600;
    color: var(--secondaryColor);
  }
  .home .leftIcons .line, .home .rightEmail .line {
    margin: auto;
    content: "";
    background: var(--secondaryColor);
    height: 100px;
    width: 1px;
  }
  .home .leftIcons {
    left: 5%;
    bottom: 0;
  }
  .home .leftIcons .socials {
    gap: 1rem;
  }
  .home .leftIcons .socials a {
    color: var(--textColor);
  }
  .home .leftIcons .socials a:hover {
    color: var(--primaryColor);
  }
  .home .rightEmail {
    right: 0;
    bottom: 0;
  }
  .home .rightEmail .emailAddress {
    transform: rotate(90deg) translate(-90px, 0px);
  }
  .home .rightEmail .emailAddress a {
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1240px) {
  .home .homeContainer {
    padding: 6rem;
  }
  .home .homeContainer .introText {
    font-size: 1.5rem;
  }
  .home .homeContainer .title {
    font-size: 5rem;
  }
  .home .homeContainer .subTitle {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }
  .home .homeContainer .homeParagraph {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=home.css.map */


  /* ============= Animation background ========= */
  .background {
    background: var(--BgColor);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }