:root{
    --primaryColor: #00eaff;
    --primaryHover: hsl(185,92%,41%);
    --secondaryColor: rgb(150,162,188);
    --paragraphColor: rgb(127,127,175);
    --BgColor: #031a30;
    --formColor: rgb(2,15,29);
    --projectCardColor: #072340;
    --textColor: #dae4fb;
    --headerHeight:3rem;
  }
  .home{
    .homeContainer{
        padding:4rem 1.5rem;
        .introText{
            font-size:1.3rem;
            color:var(--primaryColor);
            font-weight: 600;
            letter-spacing: 1px;
        }
        .title{
            font-size:3.3rem;
            font-weight: 600;
            color:var(--textColor);
            padding: .7rem 0;

        }
        .subTitle{
            display:block;
            font-size: 1.8rem;
            font-weight: 600;
            color:var(--secondaryColor);
            line-height: 2rem;
            padding:.5rem 0;
        }
        .homeParagraph{
            font-size: 1.3rem;
            padding:.6rem 1rem;
            color:var(--paragraphColor);
            padding:1rem 0;
            max-width: 600px;
        }
        .lowerHomeSection{
            .contactBtn{
                padding: .6rem 1rem;
                background: var(--primaryColor);
                color:var(--BgColor);
                border:none;
                outline:none;
                &:hover{
                    background: var(--primaryHover);
                }
                a{
                    font-size: 18px;
                    font-weight: 600;
                    gap: .5rem;
                    align-items: center;
                    color:var(--BgColor);
                }
            }
            .scrollDiv{
                padding-top: 1rem;
                display:flex;
                align-items: center;
                .scroll{
                    font-size: 1rem;
                    color: var(--primaryColor);
                }
                .icon{
                    font-size: 1.3rem;
                    margin-left: .6rem;
                    color:var(--primaryColor);
                    animation: move .5s infinite;
                }
                @keyframes move {
                    0%{
                        transform: translateY(5px);
                    }
                    25%{
                        transform: translateY(0px);
                    }
                    50%{
                        transform: translateY(5px);
                    }
                    75%{
                        transform: translateY(0px);
                    }
                    100%{
                        transform: translateY(5px);
                    }
                }
            }
        }
    }
    .leftIcons, .rightEmail{
        display:none;
    }
  }
  @media screen and (min-width:480px) {
    .home{
       .homeContainer{
        padding:5rem 1.5rem;
        .introText{
            font-size:1.5rem;
        }
        .title{
            font-size:3.5rem;
        }
        .subTitle{
            font-size:2.1rem;
        }
        .homeParagraph{
            font-size: 1.5rem;
        }
        .lowerHomeSection{
            .contactBtn{
                padding: .8rem 1.5rem;
                a{
                    font-size:22px;
                }
            }
        }
        .scrollDiv{
            padding-top: 1.5rem;
            .icon{
                font-size: 1.5rem;
            }
        }
       } 
    }
  }
  @media screen and (min-width:770px) {
    .home{
       .homeContainer{
        padding:5rem 1.5rem;
        width:70%;
        margin:auto;
       }
       .leftIcons, .rightEmail{
        display:block;
        position: fixed;
        .icon{
            color: var(--secondaryColor);
        }
        a{
            font-weight: 600;
            color: var(--secondaryColor);
        }
        .line{
            margin:auto;
            content:'';
            background: var(--secondaryColor);
            height:100px;
            width:1px;
        }
       }
       .leftIcons{
        left:5%;
        bottom:0;
        .socials{
            gap:1rem;
             a{
                color:var(--textColor);
                &:hover{
                    color:var(--primaryColor);
                }
             }
            
        }
       }
       .rightEmail{
        right:0;
        bottom:0;
        .emailAddress{
            transform: rotate(90deg) translate(-90px, 0px);
            a{
                letter-spacing: 1px;
            }
        }
       }
    }
  }
  @media screen and (min-width: 1240px) {
    .home{
        .homeContainer{
            padding:6rem;
            .introText{
                font-size:1.5rem;
            }
            .title{
                font-size:5rem;
            }
            .subTitle{
                font-size:2.4rem;
                line-height: 2.5rem;
            }
            .homeParagraph{
                font-size: 1.5rem;
            }
        }
    }
  }