:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185,92%,41%);
  --secondaryColor: rgb(150,162,188);
  --paragraphColor: rgb(127,127,175);
  --BgColor: #031a30;
  --formColor: rgb(2,15,29);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight:3rem;
}

.skills .skillsContainer {
  gap: 2rem 0;
  padding: 1rem 0;
}
.skills .skillsContainer .skillGroup .groupTitle {
  color: var(--textColor);
  margin-bottom: 10px;
}
.skills .skillsContainer .skillGroup .groupTitle .subTitle {
  display: block;
  padding: 0.3rem 0 1;
  color: var(--secondaryColor);
  font-weight: 600;
}
.skills .skillsContainer .skillGroup .generalSkills {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills {
  display: grid;
  align-items: center;
  justify-content: center;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox {
  position: relative;
  height: 70px;
  width: 50px;
  background: var(--projectCardColor);
  border: 2px solid var(--secondaryColor);
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 500;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox .icon {
  font-size: 28px;
  z-index: 500;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox::before {
  content: "";
  height: 0;
  width: 100%;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.2s;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox::after {
  content: "";
  height: 0;
  width: 100%;
  background-color: var(--BgColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox:hover {
  color: var(--textColor);
  border: 2px solid var(--primaryColor);
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox:hover .icon {
  color: var(--primaryColor);
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox:hover::before, .skills .skillsContainer .skillGroup .generalSkills .singleSkills .iconBox:hover::after {
  height: 100%;
}
.skills .skillsContainer .skillGroup .generalSkills .singleSkills .skillName {
  padding-top: 0.4rem;
  text-align: center;
  font-weight: 600;
  color: var(--secondaryColor);
}

@media screen and (min-width: 480px) {
  .skills .skillsContainer .generalSkills {
    grid-template-columns: repeat(4, 1fr);
  }
  .education>h1{
    text-align: center;
    font-size: 22px;
    background-color: #031a30;
    color:#00eaff;
    margin-top:10px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-shadow: #031a30;
  }
}
@media screen and (min-width: 640px) {
  .skills .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: flex-start;
    margin: auto;
  }
  .skills .skillsContainer .skillGroup .generalSkills {
    grid-template-columns: repeat(3, 1fr);
  }
  .education>h1{
    text-align: center;
    font-size: 20px;
    background-color: #031a30;
    color:#00eaff;
    margin-top:10px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-shadow: #031a30;
  }
}
@media screen and (min-width: 769px) {
  .skills {
    width: 70%;
    margin: auto;
  }
  .skills .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: flex-start;
  }
  .skills .skillsContainer .skillGroup .generalSkills {
    grid-template-columns: repeat(3, 1fr);
  }
  .education>h1{
    text-align: center;
    font-size: 24px;
    background-color: #031a30;
    color:#00eaff;
    margin-top:10px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-shadow: #031a30;
  }
}
@media screen and (min-width: 1240px) {
  .skills {
    width: 70%;
    margin: auto;
  }
  .skills .skillsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: flex-start;
  }
  .skills .skillsContainer .skillGroup .generalSkills {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 5rem;
    row-gap: 1.5rem;
  }
  .skills .skillsContainer .skillGroup .generalSkills .singleSkills {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .education>h1{
    text-align: center;
    font-size: 34px;
    background-color: #031a30;
    color:#00eaff;
    margin-top:10px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-shadow: #031a30;
  }
}/*# sourceMappingURL=skills.css.map */
.education{
  width: 100%;
  background-color: #050f2c;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.calendar{
  width: 100%;
  border: 3px rgb(255, 255, 255) solid ;
  padding:15px;
  border-radius: 10px;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats>img{
  max-width: 100%;
  height: auto;
}
